@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

//Fuentes
$fuentePrimaria: "Roboto", sans-serif;
$cPrimario: #015287;
$cSecundario: #76787b;
$cTercero: #004572;
$cBlanco: #ffffff;
$cNegro: #575756;
$cGris: #76787b;
$cGrisClaro: #f0f0f0;
$cGrisLight: #f0f0f0;

//Globales
$radius: 1rem;
$radius-circle: 100%;
$shadow: 0 0 30px rgba($cGris, 0.5);
$shadow-active: 0 0 30px rgba($cGris, 0.95);
$transition: all 0.5s ease;

//Displays
$telefono: 480px;
$tablet: 768px;
$laptop: 920px;
$desktop: 1200px;
$fullDesktop: 1440px;
